В этом файле будет лежать зашифрованные данные
Пароль для файла задается в vault.pas

Файл создается через ansible-vault create vars/vault.yml
Редактирование через ansible-vault edit vars/vault.yml
Просмотреть файл через ansible-vault view vars/vault.yml

В файл помещаются данные следующего типа (это поле нужно для плейбука в этом проекте):
user_ssh_password: "<ПАРОЛЬ>"